- if user_signed_in?
  .row
    %aside.col-md-4
      %section.user_info
        = render 'shared/user_info'
      %section.stats
        = render 'users/stats'
      %section.micropost_form
        = render 'microposts/micropost_form'
    .col-md-8
      %h3.text-center Micropost Feed
      = render 'shared/feed'
- else
  .center.jumbotron
    %h1 Welcome to the Fox on Rails
    %h2
      I`m glad to see you on my "NotTwitterCopy" application's page.
    = link_to 'Sign up now!', new_user_registration_path, class: 'btn btn-lg btn-primary'