.card
  .card-block
    .row
      .col-md-1
        = gravatar_for(message.user, 40)
      .col-md-9
        %p.card-text
          %span.text-muted
            = "#{message.user.name} says #{time_ago_in_words(message.updated_at)} ago: #{message.body}"