- provide(:title, 'Resend confirmation instructions')
.page-header.col-xs-12.col-md-8.col-sm-8.col-sm-offset-2
  %h1 Resend confirmation instructions
.row
  .col-xs-12.col-md-8.col-sm-8.col-sm-offset-2
    = form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { class: 'form-horizontal' }, method: :post ) do |f|
      = devise_error_messages!
      .form-group
        = f.label :email, class: 'col-sm-2 control-label'
        .col-sm-10
          = f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: 'form-control'
      .form-group
        .col-sm-offset-2.col-sm-10
          = f.submit 'Resend confirmation instructions', class: 'btn btn-default'
      = render 'devise/shared/links'