- provide(:title, 'Edit user')
.page-header.col-xs-12.col-sm-8.col-sm-offset-2
  %h1 Edit profile
.row
  .col-md-6.col-md-offset-3
    = form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'form-horizontal' }, method: :put ) do |f|
      = devise_error_messages!
      .form-group
        = f.label :name, class: 'col-sm-2 control-label'
        .col-sm-10
          = f.text_field :name, class: 'form-control'
      .form-group
        = f.label :email, class: 'col-sm-2 control-label'
        .col-sm-10
          = f.email_field :email, autofocus: true, class: 'form-control'
          - if devise_mapping.confirmable? && resource.pending_reconfirmation?
            = "Currently waiting confirmation for: #{resource.unconfirmed_email}"
      .form-group
        = f.label :password, class: 'col-sm-2 control-label'
        .col-sm-10
          .form-section
            = f.password_field :password, autocomplete: 'off', class: 'form-control'
            - if @minimum_password_length
              = "#{@minimum_password_length} characters minimum"
              %i (leave blank if you don't want to change it)
      .form-group
        = f.label :password_confirmation, class: 'col-sm-2 control-label'
        .col-sm-10
          = f.password_field :password_confirmation, autocomplete: 'off', class: 'form-control'
      .form-group
        .col-sm-12
          .gravatar_edit
            = gravatar_for @user
            = link_to 'change', 'http://gravatar.com/emails', rel: 'noopener', target: '_blank'
      .form-group
        = f.label :current_password, class: 'col-sm-2 control-label'
        .col-sm-10
          = f.password_field :current_password, autocomplete: 'off', class: 'form-control'
          %i (we need your current password to confirm your changes)
      .form-group
        .col-sm-offset-2.col-sm-10
          = f.submit 'Save changes', class: 'btn btn-success'
          = button_to 'Cancel account', registration_path(resource_name), data: { confirm: 'Are you sure?' }, method: :delete, class: 'btn btn-danger'
    .div
      - if current_user.oauths.present?
        .h4= 'Account connected with:'
        .ol.list-unstyled
          - current_user.oauths.each do |item|
            .li
              = item.provider.capitalize
              = link_to 'account', item.link, rel: 'noopener', target: '_blank'
              = link_to '', "/omniauth/#{item.id}", data: { confirm: 'Are you sure?', toggle: 'tooltip' }, title: 'Unlink?', method: :delete, class: 'btn glyphicon glyphicon-remove'
      .ol.list-unstyled
        .li
          - if current_user.oauths.find_by(provider: 'facebook').nil?
            = link_to 'Connect account with Facebook', '/users/auth/facebook', class: 'btn fa fa-facebook btn-facebook'
        .li
          - if current_user.oauths.find_by(provider: 'twitter').nil?
            = link_to 'Connect account with Twitter', '/users/auth/twitter', class: 'btn fa fa-twitter btn-twitter'