- provide(:title, 'Sign up')
.page-header.col-xs-12.col-sm-10.col-sm-offset-2
  %h1 Sign up
.row
  .col-sm-6.col-sm-offset-3
    = form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'form-horizontal' }) do |f|
      = devise_error_messages!
      = f.hidden_field :confirmed_at
      = f.fields_for :oauths, resource.oauths.build(uid: params.dig(:user_info, :uid), provider: params.dig(:user_info, :provider), link: params.dig(:user_info, :link)) do |oauth_fields|
        = oauth_fields.hidden_field :uid
        = oauth_fields.hidden_field :provider
        = oauth_fields.hidden_field :link
      .form-group
        = f.label :name, class: 'col-sm-2 control-label'
        .col-sm-10
          = f.text_field :name, class: 'form-control'
      .form-group
        = f.label :email, class: 'col-sm-2 control-label'
        .col-sm-10
          = f.email_field :email, class: 'form-control'
      .form-group
        = f.label :password, class: 'col-sm-2 control-label'
        .col-sm-10
          = f.password_field :password, autocomplete: 'off', class: 'form-control'
          - if @validatable
            %span.help-block
              = @minimum_password_length
              characters minimum
      .form-group
        = f.label :password_confirmation, class: 'col-sm-2 control-label'
        .col-sm-10
          = f.password_field :password_confirmation, autocomplete: 'off', class: 'form-control'
      .form-group
        .col-sm-offset-2.col-sm-10
          = f.submit 'Sign up', class: 'btn btn-default'
          = render 'devise/shared/links'