%li{id: "comment-#{comment.id}"}
  = link_to gravatar_for(current_user, size: 50), current_user
  %span.user= link_to user.name, user
  %span.content
    = comment.commenter
    = comment.content
  %span.timestamp
    Posted #{time_ago_in_words(comment.created_at)} ago.
    - if current_user == micropost.user || current_user.admin?
      = link_to '', comment, method: :delete, data: { confirm: 'You sure?' }, class: 'glyphicon glyphicon-remove'