- provide(:title, "Chatting with #{@conversation.with(current_user).name}")
.page-header.col-xs-12.col-md-8.col-sm-8.col-sm-offset-2
  %h1
    Chatting with
    = online_status @conversation.with(current_user)
.row
  .col-xs-12.col-md-8.col-sm-8.col-sm-offset-2
    %div#conversation-main
      %div{ id: 'conversation-body', 'data-conversation-id' => "#{@conversation.id}"}
        = render @conversation.personal_messages
      = form_for @personal_message do |f|
        .form-group
          = hidden_field_tag 'conversation_id', @conversation.id
          = f.text_area :body, placeholder: 'Compose new message...', class: 'form-control'
        = f.submit 'Send', class: 'btn btn-primary'