- provide(:title, 'Edit user')
.page-header
  %h1 Edit profile
.row
  .col-md-6.col-md-offset-3
    = form_for(@user, html: {class: 'form' }) do |f|
      .form-group
        = f.label :name, class: 'col-sm-2 control-label'
        .col-sm-10
          = f.text_field :name, class: 'form-control', required: true
      .form-group
        = f.label :email, class: 'col-sm-2 control-label'
        .col-sm-10
          = f.email_field :email, required: true, class: 'form-control'
      .form-group
        .col-sm-12
          .gravatar_edit
            = gravatar_for @user
            %a{href: 'http://gravatar.com/emails'} change
      .form-group
        .col-sm-offset-2.col-sm-10
          = f.submit 'Save changes', class: 'btn btn-default'
          = link_to 'delete', @user , method: :delete, data: { confirm: 'You sure?' }, class: 'btn btn-danger'