- provide(:title, 'All users')
.page-header.col-xs-12.col-sm-8.col-sm-offset-2
  %h1 All users
.row
  .col-xs-12
    .text-center
      - selected_roles = params[:roles] || []
      = form_tag( '/users', method: 'get', class: 'form-inline' ) do
        .checkbox
          = label_tag do
            = check_box_tag 'roles[]', 'admin', selected_roles.include?('admin')
            Admin
        .checkbox
          = label_tag do
            = check_box_tag 'roles[]', 'moderator', selected_roles.include?('moderator')
            Moderator
        .checkbox
          = label_tag do
            = check_box_tag 'roles[]', 'member', selected_roles.include?('member')
            Member
        .form-group
          = submit_tag 'Filter users', class: 'btn btn-success'
    .text-center
      = will_paginate
    %ul.users
      = render @users
    .text-center
      = will_paginate