- provide(:title, @user.name)
.row
  %aside.col-md-4
    %section.user_info
      %h1
        = gravatar_for @user
        = @user.name
        - if current_user == @user || current_user.admin?
          %br
            = @user.email
    %section.stats
      = render 'stats'
    .follow-buttons
      = render 'users/follow_assets/follow_form'
    .admin-buttons
    - if current_user.admin?
      = link_to edit_user_path(@user), class: 'btn btn-warning' do
        %span.glyphicon.glyphicon-pencil
        Edit
      = link_to @user , method: :delete, data: { confirm: 'You sure?' }, class: 'btn btn-danger' do
        %span.glyphicon.glyphicon-trash
        Delete
  .col-md-8
    - if @user.microposts.any?
      %h3
        Microposts (#{@user.microposts.count})
      .text-center
        = will_paginate @microposts
      %ol.microposts
        = render @microposts
      .text-center
        = will_paginate @microposts
