%li{id: "micropost-#{micropost.id}"}
  = link_to gravatar_for(micropost.user, 50), micropost.user
  %span.user
    = link_to micropost.user.name, micropost.user
    - if can?(:destroy || :update, micropost)
      = link_to '', micropost, method: :delete, data: { toggle: 'tooltip', confirm: 'You sure?' }, 'title' => 'Delete', class: 'btn glyphicon glyphicon-remove pull-right'
      = link_to '', edit_micropost_path(micropost), data: { toggle: 'tooltip' }, 'title' => 'Edit', class: 'btn glyphicon glyphicon-pencil pull-right'
  %span.content
    = raw micropost.content
    = image_tag micropost.picture.url if micropost.picture?
  %span.timestamp
    Posted #{time_ago_in_words(micropost.created_at)} ago.
  %span
    %ol.comments
      - if micropost.comments.any?
        %h4
          Comments:
        - if micropost.comments.count > 5
          %button.see-more
            Show
            = pluralize(micropost.comments.count - 5, 'more comments')
        = render micropost.comments
        %button.hide-comments
          Hide
      - if can? :create, Comment
        = render partial: 'comments/comment_form', locals: { micropost: micropost }