- provide(:title, 'Edit post')
.page-header.col-xs-12.col-sm-8.col-sm-offset-2
  %h1 Edit post
.row
  .col-md-6.col-md-offset-3
    = form_for(@micropost, html: { class: 'form' }) do |f|
      = render 'shared/error_messages', object: f.object
      .form-group
        = f.text_area :content, class: 'form-control ckeditor', required: true
        %span.picture
          - if @micropost.picture?
            %li.list-unstyled
              Current picture:
            %li.list-unstyled
              = image_tag @micropost.picture.url
            %li.list-unstyled
              = f.check_box :remove_picture
              Check it in order to delete current picture
          - else
            = f.file_field :picture, accept: 'image/jpeg,image/gif,image/png'
      .form-group.center
        = f.button 'Save', class: 'btn btn-add-post'