!!!
%html
  %head
    %meta{name: 'viewport', content: 'text/html; charset=UTF-8; width=device-width; initial-scale=1', 'http-equiv': 'Content-Type'}
    = favicon_link_tag('/favicon.ico')
    %title
      = full_title(yield(:title))
    = render 'layouts/application/rails_default'
    = render 'layouts/application/shim'
    = render 'layouts/social-media/google-sdk'
  %body
    = render 'layouts/social-media/vk-sdk'
    = render 'layouts/application/header'
    .container
      = bootstrap_flash
      = yield
      = render 'layouts/application/footer'
    = render 'layouts/social-media/facebook-sdk'
    = render 'layouts/social-media/twitter-sdk'