<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/application/rails_default'  %>
    <%= render 'layouts/application/shim' %>
  </head>
  <body>
    <%= render 'layouts/application/header' %>
    <div class="container">
      <%# TODO: move to helper and make alerts with dismiss + additional opts %>
      <% flash.each do |message_type, message| %>
          <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>
      <%= yield %>
      <%= render 'layouts/application/footer'  %>
    </div>
  </body>
</html>